/* Header.css */
.header {
background-color: transparent;
    align-items: right;
  }
  
  .navbar {
    display: flex;
    justify-content: end;
    color:#fff;

  }
  
  .nav-links {
    list-style: none;
    color:#fff;
    opacity: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #167646;
  }
  